body {
  background-color: rgb(199, 199, 199) !important;
}

.input-header {
  background-color: red !important;
  display: flex !important;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  padding: 15px 0;
}

.error-element {
  text-align: left;
  color: red;
}
